<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/zz-find/src/main/java/de/unkrig/zz/find/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.unkrig.zz.find.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="zz-find"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="coyo-i18n-25.10.1-RELEASE.tar&#13;&#10;-path &quot;coyo-i18n-25.10.1-RELEASE.tar!c20b7cda6c659728e3ec47aa23411183e88600f96965daee9f87d97a2c019362/layer.tar!home/coyo/src/auth**&quot;&#13;&#10;-copy &quot;coyo-i18n-25.10.1-RELEASE-unpacked/$[{name}&quot;"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zz-find"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:/dev/workspaces/wilma/coyo-i18n"/>
</launchConfiguration>
